---
layout: default
title: Photo
weight: 3
custom_css:
- photoswipe
- default-skin
custom_js:
- jquery-3.2.1.min
- imagesloaded.pkgd.min.js
- masonry.pkgd.min
- masonry-custom
- gallery-custom
- photoswipe.min
- photoswipe-ui-default.min
---

<div class="section-title">
    <h4>
        Photo
    </h4>
</div>

<h5>
    Holga
</h5>

<div class="projects-container grid hide">
    {% include art-list.html section='photo' type='holga' %}
</div>

<h5>
    Other
</h5>

<div class="projects-container grid hide">
    {% include art-list.html section='photo' type='other' %}
</div>

{% include photoswipe.html %}
