  {% assign type = include.type %}
  {% assign section = include.section | append: "/" %}
<!--   <div class="section-title">
    <h4>
      {{type | replace: "-", " "}}
    </h4>
  </div>   -->

  {% for art in site.pages %}

    {% if art.type contains include.type | split: ", " %}

      {% assign small_img_path = "/assets/images/" | append: section | append: type | append: "/small/" | append: art.small-image %}
      {% assign tiny_img_path = "/assets/images/" | append: section | append: type | append: "/tiny/" | append: art.small-image %}

      {% assign size_array = {{art.size}} | split: "x" %}
      {% assign aspect_ratio = size_array[0] | times: 1.0 | divided_by: size_array[1] | times: 1.0 | times: 100 | round: 0 %}
      {% capture padding_bottom %}
        padding-bottom:{{aspect_ratio}}%;
      {% endcapture %}

  {% if art.project %}
        {% assign large_img_path = "/assets/images/" | append: section | append: type | append: "/large/" | append: art.large-image %}

        <!-- <div class="art-project grid-item"> -->
        <figure class="img-container art-project grid-item">
            <a href="{{ large_img_path | absolute_url}}" data-size="{{ art.size }}" class="no-barba">
                <img class="image" src="{{ small_img_path | absolute_url}}" alt="{{art.alt}}">
            </a>
            <figcaption class="title">{{art.title}}</figcaption>
            <span class="description">
                {{art.description}}
            </span>
            <span class="medium">
                {{art.medium}}
            </span>
        </figure>
        <!-- </div>  -->
      {% else %}
        {% assign large_img_path = "/assets/images/" | append: section | append: type | append: "/large/" | append: art.large-image %}
        <!-- <div class="art-project grid-item"> -->
        <figure class="img-container art-project grid-item">
            <a href="{{ large_img_path | absolute_url}}" data-size="{{ art.size }}" class="no-barba" style="{{ padding_bottom }}">
                <img class="image lazy blur" src="{{tiny_img_path | absolute_url}}" alt="{{art.alt}}" data-src="{{small_img_path | absolute_url}}">
            </a>
            <figcaption class="title">
                {{art.title}}
                <div class="details">
                    {% if art.description %}
                        <span class="description">
                            {{art.description}}
                        </span>
                    {% endif %}
                    {% if art.medium %}
                        <span class="medium">
                            {{art.medium}}
                        </span>
                    {% endif %}
                </div>
            </figcaption>
        </figure>
        <!-- </div>  -->
      {% endif %}

    {% endif %}

  {% endfor %}  