<header class="site-header initial {{ page.title | replace: ' ','-' | downcase }}" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths | sort: "weight" %}

  
    {% if page_paths %}
      <nav class="site-nav">

        <span class='site-title-wrapper'>
          <a {% if page.url == '/' %} class="site-title active" {% else %} class="site-title" {% endif %} href="{{ "/" | relative_url }}">

            {%comment%}
            {% assign site_title_split = site.title | split: "" %}
            {% for letter in site_title_split %}
            <span class="site-title-letter-{{ forloop.index }}{% if letter == '' %}space{% endif %}">{{ letter }}</span>
            {% endfor %}
            {%endcomment%}
            <!-- {{ site.title | escape }} -->
            Declan Van Welie

          </a>
          <span id="menu">
            <span class="hamburger"></span>
          </span>
        </span>

        <div class="trigger box">

          {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title  %}
                {% unless my_page.exclude %}
                  <a {% if page.url contains my_page.url %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ my_page.url | relative_url }}" >
<!--                     {% assign my_page_split = my_page.title | split: "" %}
                    {% for letter in my_page_split %}
                      <span class="letter-{{ forloop.index }}">{{ letter }}</span>
                    {% endfor %} -->
                    {{ my_page.title | downcase }}
                  </a>
                {% endunless %}
              {% endif %} 
          {% endfor %}
        </div>

      </nav>
    {% endif %}
  </div>

</header>
