.wrapper {
	// max-width: 100%;
	// padding-left: 15px;
	// padding-right: 15px;
}

.grid {
	position: relative;
	display: none;
	opacity: 0;
	margin: 0 auto;
	width: 100%;

	//&.hide {
	//	display: none;
	//}

	&.fade-in-grid {
		@include fadeInGrid(0.4s, 1s);
	}

	@media (min-width: 985px) {
		max-width: 985px;
	}
	@include clearfix();


	// .grid-sizer {
	// 	position: relative;
	// 	display: none;
	// 	// width: 40%;
	// }
	.grid-item {
		position: relative;
		display: block;
		width: 48%;
		@media (max-width: 756px) {
			width: 100%;
		}

		// width: 300px;

		// margin: 5%;
		// float: left;
		// @include display-flex();

		// width: calc(20%);
		// height: auto;
		// padding: 9px;
		@include border-box();

		overflow: hidden;


		.image {
			position: relative;
			display: block;
			// max-width: 50%;
			// max-height: 50%;

			&.blur {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				filter: blur(18px);
				transform: scale(1.1);
			}

		}

		a {
			&.unblur {
				padding-bottom: 0;
				.image {
					@include unBlur(0s, 0s);
				}

			}
		}

		.title,
		.description,
		.medium {
			display: none;
		}

		&.project {
			overflow: hidden;
			figcaption {
				position: absolute;
				display: block;
				@include body-font();
				bottom: 0;
				width: 100%;
				background-color: white;
				color: #fff;
				text-align: center;
				transform: translateY(200%);
			}
			&:hover {
				figcaption {
					@include raiseProjectLink(0.1s, 0.2s);
				}

				.project-link {
					padding: 10px;
					@include text-in-left(1s, cubic-bezier(0, 0.58, 0, 1));

					&:hover {
						background-color: darkgrey;
						color: white;
						cursor: pointer;
						a {
							color: white;
							cursor: pointer;
						}
					}
					a:hover {
						text-decoration: none;
					}
				}

			}
		}

	}
}