.introduction {
	// background-color: pink
	text-align: center;
	font-size: 200px;
	// text-transform: uppercase;
	font-family: NunitoSans-Italic, sans-serif;

	letter-spacing: -12px;
	$letters: 30;

	@for $i from 1 through $letters {
	    // $i: index($techs, $tech);
	    // $timeCalc: .05 * $i;
	    $time: #{$i*.12}s;
	    .intro-letter-#{$i} { 
	    	position: relative;
	    	display: inline-block;
	    	background-color: transparent;
	    	// opacity: 0;
	       @include revealLetters($time);

	    }
	}

	.letter {
		// transform: transla;

		&:hover {
			// @include bounceLetter();

		}
	}

}