$first: #382c3d;
$second: #b0c5e2;
$third: #ee323d;
$fourth: #fee8c6;

// $first: purple;
// $second: green;

// Colors
$colors: (
  'green': #01FF89,
  'purple': #7A5FFF,
  'black': #141414,
);

$default-margin: 15px;