.web-project-container {

	.background-color {
		position: absolute;
		display: block;
		width: 100%;
		height: 50%;
		left: 0;
		top: 100px;
		right: 0;

		&.one {
			background-color: $relay-red;
			transform: skewY(-12deg);
			z-index: 2;
			top: 100px;
		}

		&.two {
			background-color: $relay-blue;
			transform: skewY(12deg);
			z-index: 1;
			top: 60%;
		}
	}

	.content-container {
		position: relative;
		display: block;
		z-index: 3;
		background-color: white;
		border: 5px solid $relay-blue;
		padding: 75px 30px 30px 30px;
		@include border-box();
		margin-top: 30px;

		.title-container {
			position: absolute;
			display: block;
			background-color: $relay-blue;
			color: white;
			@include border-box();
			padding: 15px 15px 15px 30px;
			top: -30px;
			text-transform: uppercase;
			
			// transform: skewX(-6deg);
  	// 		transform-origin: top right;

			&:after {
			    content:"";
			    position:absolute;
			    top:0;
			    left: 100%;
			    width: 0; 
			    height: 0; 
			    border-bottom: 60px solid transparent; 
			    border-left: 50px solid $relay-blue; 
			}

  			.title {
				// transform: skewX(6deg);
				@include header-font();
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 0;

				@include text-in-left(1s, cubic-bezier(0, 0.58, 0, 1));	
  			}
		}

		.intro-image {
			position: relative;
			display: block;
			height: 500px;
			overflow: hidden;
		}

		.intro-text-container {

			position: relative;
			@include display-flex();
			@include justify-content-center();
			@include align-items(center);
			@include flex-direction-row();

			margin: 30px 0;

			.intro-text-description {

				position: relative;
				display: block;
				@include flex(2 2 auto);
				@include display-flex();
				@include flex-direction-column();
				@include align-items(center);

				padding-right: 10px;

				.intro-text {
					@include body-font();
				}

			}

			.tech-wrapper {

				position: relative;
				display: block;
				@include flex(1 1 auto);

				padding-left: 10px;
		
				.tech-title {

					@include header-font();
					font-size: 30px;
					@include text-in-left(1.75s, cubic-bezier(0, 0.58, 0, 1));	
				}
				.tech-list {

					@include body-light();
					// font-family: NunitoSans-ExtraLight, sans-serif;
					font-weight: 100;

					$techs: 10;

					@for $i from 1 through $techs {
					    // $i: index($techs, $tech);
					    // $timeCalc: .05 * $i;
					    $time: #{$i*.33+1}s;
					    .tech-#{$i} { 
					    	position: relative;
					    	display: inline-block;
					    	background-color: transparent;
					    	// opacity: 0;
					       @include text-in-left($time, cubic-bezier(0, 0.38, 0.21, 0.99));	
					    }
					}

				}
			}

		}

	}

	.objective-container {
		position: relative;
		display: block;
		z-index: 3;
		width: 75%;
		margin: 50px auto;
		background-color: white;
		border: 5px solid $relay-blue;
		@include border-box();
		padding: 70px 30px 50px 30px;

		.title-container {
			position: absolute;
			display: block;
			background-color: $relay-blue;
			color: white;
			@include border-box();
			padding: 15px 15px 15px 30px;
			top: -30px;
			left: 35%;
			text-transform: uppercase;
			
			// transform: skewX(-6deg);
  	// 		transform-origin: top right;

			&:after {
			    content:"";
			    position:absolute;
			    top:0;
			    left: 100%;
			    width: 0; 
			    height: 0; 
			    border-bottom: 60px solid transparent; 
			    border-left: 50px solid $relay-blue; 
			}

  			.title {
				// transform: skewX(6deg);
				@include header-font();
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 0;

				@include text-in-left(1s, cubic-bezier(0, 0.58, 0, 1));	
  			}
		}

		.objective {
			@include body-font();
		}

	}

}