<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if page.title %}{{page.title|downcase}}{% else %}home{% endif %}">

    {% if page.layout == "home" %}
      <div class="web-background-wrapper">
         <div class="background-container">
          {% include  web-intro.svg %}
         </div>
      </div>
      <div class="art-background-wrapper">
      </div>

    {% endif %}

    <!-- <div class="graddynamic"> -->
      <div class="content-container">

        {% include header.html %}
    
        <main class="page-content" aria-label="Content">
          <div class="wrapper content">
            {{ content }}
          </div>
        </main>
    
      {%comment%}  {% include footer.html %} {%endcomment%}

      </div>
    <!-- </div> -->

  </body>

</html>
