<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if page.title %}{{page.title|downcase}}{% else %}home{% endif %}">
    <!-- <div class="graddynamic"> -->
      <div class="content-container">

        {% include header.html %}
    
        <main class="page-content" aria-label="Content">
          <div class="wrapper content">
            {{ content }}
          </div>
        </main>
    
      {%comment%}  {% include footer.html %} {%endcomment%}

      </div>
    <!-- </div> -->

  </body>

</html>
