---
layout: default
title: Home
pageId: home
weight: 2
<!-- subpages: Illustration, Figure Drawings, Other Art -->
---

{% assign ayesha = site.pages | where: "title", "Ayesha" | first %}
{% assign umbrella = site.pages | where: "title", "The Triplets of Buttville" | first %}


<div class="section-link web-pattern-container" id="web">
    {% include web-intro.svg %}
    <a href="">
        <h1>
            <span class="fade-in-letter">W</span><span class="fade-in-letter">e</span><span class="fade-in-letter">b</span>
        </h1>
    </a>
</div>
<div class="section-link" id="art">
    <a href="">

        {% include lazy-image.html art=ayesha section='art' type='/figure-drawing' %}
        <h1>
            <span class="fade-in-letter">A</span><span class="fade-in-letter">r</span><span class="fade-in-letter">t</span>
        </h1>
    </a>
</div>
<div class="section-link" id="photo">
    <a href="">
        {% include lazy-image.html art=umbrella section='photo' type='holga' %}

        <h1>
            <span class="fade-in-letter">P</span><span class="fade-in-letter">h</span><span class="fade-in-letter">o</span><span class="fade-in-letter">t</span><span class="fade-in-letter">o</span>
        </h1>
    </a>
</div>

{% comment %}
    <div class="projects-container grid">
        {% include home-list.html %}
    </div>

    {% include photoswipe.html %}
{% endcomment %}