---
layout: default
hex: 3EAFC4
---

{% assign img_path = "/assets/images/web/" %}
{% assign nextPage = page.next %}
{% assign prevPage = page.previous %}
{% assign type = page.title | replace: " ", "-" | downcase %}

<div class="web-project-container {{ page.title | replace: ' ','-' | downcase }}">
	<div class="background-color one"></div>
	<div class="background-color two"></div>
	{% if page.previous %}
	<a class='page-nav prev' href="{{prevPage.url}}.html" data-hex="{{prevPage.hex}}">
		<div class="arrow-link-container">
			<div class="arrow">
			</div>
			<div class="text-container" >
				<span class='one'>Previous</span>
				<span class='two'>Project</span>
				<!-- {{page.previous.title}} -->
			</div>
		</div>
	</a>
	{% endif %}
	{% if nextPage %}
	<a class="page-nav next" href="{{nextPage.url}}.html" data-hex="{{nextPage.hex}}">
		<div class="arrow-link-container">

			<div class="text-container" >
				<span class='one'>Next</span>
				<span class='two'>Project</span>
				<!-- {{page.next.title}} -->
			</div>
			<div class="arrow">
			</div>
		</div>
	</a>
	{% endif %}
	<div class="content-container intro">

		<div class="title-container">
			<h2 class="title">
				{{page.title}}
			</h2>
		</div>

		<div class="intro-image">
			{% include web-lazy-image.html type=type image=page.intro-image %}
		</div>

		<div class="intro-text-container">
			<div class="description-container">
				<div class="intro-text-description">
					<div class="intro-text">
						{{page.intro-description}}
					</div>
				</div>
				<div class="tech-link-container">
					<div class="tech-wrapper">
						<h6 class="tech-title">Technologies:</h6>
						<div class="tech-list">

							{% for technology in page.technologies %}
								<p class="tech-item tech-{{ forloop.index }}">
									<span>
										{{technology}}

										{% comment %}
											{{technology}}{% if forloop.last != true %}, {% endif %}
										{% endcomment %}
									</span>
								</p>
							{% endfor %}
						</div>
					</div>
					{% if page.externalUrl %}
						<div class="link-container">
							<div class="link-wrapper">
								<a class="link" href="{{ page.externalUrl }}" target="_blank">
									View Live Site
								</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

	</div>

	{% comment %}
		<div class="isolated-wrapper">
			<div class="isolated-container">
				<p class="isolated-statement">
					{{page.description2}}
				</p>
			</div>
		</div>
	{% endcomment %}

	<div class="objective-container show-on-scroll">

		<div class="title-container">
			<div class="title">
				Objective
			</div>
		</div>

		<div class="objective-wrapper">
			<p class="objective">
				{{ page.objective }}
			</p>
		</div>

	</div>

	{% if page.contentBlocks %}
		{% for item in page.contentBlocks %}
			{% if item.contentType == "video" %}
				<div class="content-container outro show-on-scroll">
					<div class="video-container">
						{{ item.content }}
					</div>
					<div class="full-width-text-container">
						<p class="text">
							{{ item.description }}
						</p>
					</div>
				</div>
			{% elsif item.contentType == "image" %}
				<div class="content-container outro show-on-scroll">
					<div class="intro-image">
						{% include web-lazy-image.html type=type image=item.content %}
					</div>
					<div class="isolated-text">
						<p class='text'>
							{{ item.description }}
						</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

</div>

